# macOS / iCloud
.DS_Store
*.icloud

# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Node
node_modules/
dist/
build/
.next/
out/
*.log
npm-debug.log*
yarn-error.log*

# Archives
*.zip
*.tar.gz
