# API (defaults are fine for local compose)
KYC_SVC=http://ai-ocr:8001
AML_SVC=http://ai-aml:8002
CHAIN_RPC=http://hardhat:8545
ATTESTER_PRIV_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
REGISTRY_ADDRESS_FILE=/blk/registry_address.txt
NEXT_PUBLIC_API_BASE=http://localhost:8000
